# Domain conf
DOMAIN_NAME=login.42.fr

# MariaDB conf
SQL_DATABASE=inception
SQL_USER=db_user
SQL_PASSWORD=db_pwd
SQL_ROOT_PASSWORD=root_pwd

# WordPress conf
WP_TITLE=name_website

WP_ADMIN_USER=admin_user
WP_ADMIN_PASSWORD=admin_pwd
WP_ADMIN_EMAIL=admin@example.com

WP_USER=user
WP_USER_EMAIL=user@example.com
WP_USER_PASSWORD=user_pwd

# Host data path
DATA_PATH=/home/login/data
